body {
  background-color: rgb(24, 39, 41);
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 50px;
  font-family: cursive;
  color: beige;
}
.contactlist,
.form {
  display: grid;
  grid-template-columns: 200px 200px 100px 110px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}
.form {
  align-items: stretch;
}
.name,
.phone,
.input {
  font-size: 15px;
  padding: 6px;
  border: none;
  border-radius: 1rem;
}
.input-color {
  background-color: rgb(32, 53, 56);
  color: beige;
}
.add {
  background-color: green;
}
.remove {
  background-color: darkred;
}
.edit {
  background-color: rgb(72, 59, 78);
}
.add,
.remove,
.edit {
  color: beige;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 6px;
  border-radius: 1rem;
}

.error {
  background-color: beige;
  color: darkred;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
